<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Hero</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
  <div class="row m-4">
    <div class="col text-center border border-dark">
      <h1><a href="/" class="text-dark">Hero Education and Relationship Organization </a></h1>
    </div>
  </div>
  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <a href="heroes" class="btn btn-outline-primary btn-lg">Heroes</a>
    </div>
    <div class="col text-center m-3">
      <a href="powers" class="btn btn-outline-primary btn-lg">Powers</a>
    </div>
    <div class="col text-center m-3">
      <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
    </div>
    <div class="col text-center m-3">
      <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
    </div>
    <div class="col text-center m-3">
      <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
    </div>
  </div>
  <!-- EDIT POWER -->
  <div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
      <span class="h3">Edit Power</span>
    </div>
    <div class="col-7 text-center m-3">
      <form action="editPower" method="POST">
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">Power</label>
          <div class="col-9">
            <input type="text" name="name" id="name" class="form-control"
                   th:value="${power.name}"/>
            <div th:if="${#fields.hasErrors('power.name')}">
              <p th:each="error : ${#fields.errors('power.name')}" class="alert alert-danger"
                 th:text="${error}"> Name errors</p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-3 col-form-label">
            Description</label>
          <div class="col-9">
            <input type="text" name="description"
                   id="description" class="form-control"
                   th:value="${power.description}"/>
          </div>
        </div>
        <input type="hidden" name="id" th:value="${power.id}"/>
        <button type="submit" class="btn btn-primary">Ok</button>
        <a href="powers" class="btn btn-danger btn-md">Cancel</a>
      </form>
    </div>
  </div>
</div>


<!-- End main body -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;
